footer.main {
  padding-bottom: 1rem;
  .row:nth-child(1) {
    font-family: 'NeuzeitOffice-Bold', system;
    padding: 1.5rem 0 1rem;
  }
  .phone {
    text-align: center;
  }
  .social {
    text-align: right;
    a {
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      text-align: center;
      position: relative;
      left: 0.5rem;
      img {
        width: auto;
        height: 1.5rem;
        position: relative;
        top: 0.4rem;
      }
    }
  }
  .line-break {
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid $white-4;
  }
  .row:nth-of-type(3) {
    padding-top: 1.5rem;
    div:nth-child(2) {
      float: right;
      text-align: right;
    }
  }
}