footer.main {
  .contact {
    font-family: 'NeuzeitOffice-Bold', system;
  }
  .social {
    text-align: right;
    a {
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      text-align: center;
      img {
        width: auto;
        height: 1.75rem;
        position: relative;
        top: 0.4rem;
      }
    }
  }
  .line-break {
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid $white-4;
  }
  .row:nth-of-type(3) {
    padding: 1.5rem 0;
    .privacy {
      float: right;
      text-align: right;
    }
  }
  
  @media (max-width: 575px) {
    .contact {
      text-align: center;
    }
    .social {
      margin-top: 0.5rem;
      text-align: center;
      a {
        width: 3rem;
        height: 3rem;
        img {
          position: relative;
          top: 0.66rem;
        }
      }
    }
    .row:nth-of-type(3) {
      .copyright {
        text-align: center;
      }
      .privacy {
        float: none;
        margin-top: 0.5rem;
        text-align: center;
      }
    }
  }
}