// Element : HEADER MAIN
header.main {
  padding: 2rem 0;
  background-color: white;
  .row {
    justify-content: space-between;
  }
  .brand {
    display: block;
    width: 8rem;
    height: 8rem;
  }
}
