form {
  label {
    display: block;
    padding: 1rem 0 0.15rem;
    color: $grey-5;
    font-size: 1em;
    font-weight: 600;
  }
  input,
  select,
  textarea {
    width: 100%;
    color: $grey-2;
    background-color: $white;
    border: 2px solid $white-4;
    font-size: 1rem;
    padding: 0.5rem;
    transition: border 0.33s ease-out;
    &:hover {
      border: 2px solid $grey-2;
      transition: border 0.22s linear;
    }
    &:focus {
      border: 2px solid $primary-green-2;
      box-shadow: none;
      outline: none;
      transition: border 0.11s linear;
    }
    &:active {
      border: 2px solid $spring-green;
      transition: border 0.11s linear;
    }
  }  
  select option {
    padding: 0.5em 1em;
    color: $black;
  }
  textarea {
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  button[type="submit"] {
    padding: 1rem 1.5rem 1rem;
    margin: 0.5em 0;
    color: $spring-green;
    background-color: $white;
    border: 2px solid $spring-green;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.22s linear;
    &:hover, &:focus {
      cursor: pointer;
      color: $primary-green-3;
      border: 2px solid $primary-green-3;
      transition: all 0.11s linear;
      outline: none;
    }
    &:active {
      color: $primary-green-4;
      border: 2px solid $primary-green-4;
      transition: all 0.11s linear;
      outline: none;
    }
  }
}


/*
input,
select,
textarea,
input[type="checkbox"],
input[type="radio"],
*/
















