html {
  overflow-y: scroll;
}
body {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
  > .row {
    margin-left: 0;
    margin-right: 0;
  }
  @media (max-width: 575px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
#layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.grid-container {
  max-width: 1440px;
  margin: 0 auto;
}
.stage {
  flex: 1;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.section {
  padding: 2rem 0 4rem;
}
