html,
body {
  height: 100%;
  box-sizing: border-box;
  background: rgba(0,255,0,0.1);
}
*, *:before, *:after {
  box-sizing: inherit;
}
.container-fluid {
  > .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.grid-container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.stage {
  border: 1px solid red;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
