html,
body {
  //height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.container-fluid {
  > .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.grid-container {
  max-width: 1440px;
  margin: 0 auto;
}
.stage {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.section {
  padding: 2rem 0 4rem;
}
