// @import url("//hello.myfonts.net/count/33f49f");
$fontPath: "../assets/fonts" !default;

/* --- Quick Reference
  font-family: 'NeuzeitOffice-Regular', system;
  font-family: 'NeuzeitOffice-Italic', system;
  font-family: 'NeuzeitOffice-Bold', system;
  font-family: 'NeuzeitOffice-BoldItalic', system;
*/

/* System Fonts */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* NeuzeitOffice Fonts */
@font-face {
  font-family: 'NeuzeitOffice-Regular';
  src: url('#{$fontPath}/33F49F_3_0.eot');
  src: url('#{$fontPath}/33F49F_3_0.eot?#iefix') format('embedded-opentype'),
  url('#{$fontPath}/33F49F_3_0.woff2') format('woff2'),
  url('#{$fontPath}/33F49F_3_0.woff') format('woff'),
  url('#{$fontPath}/33F49F_3_0.ttf') format('truetype'),
  url('#{$fontPath}/33F49F_3_0.svg#wf') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NeuzeitOffice-Italic';
  src: url('#{$fontPath}/33F49F_2_0.eot');
  src: url('#{$fontPath}/33F49F_2_0.eot?#iefix') format('embedded-opentype'),
  url('#{$fontPath}/33F49F_2_0.woff2') format('woff2'),
  url('#{$fontPath}/33F49F_2_0.woff') format('woff'),
  url('#{$fontPath}/33F49F_2_0.ttf') format('truetype'),
  url('#{$fontPath}/33F49F_2_0.svg#wf') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'NeuzeitOffice-Bold';
  src: url('#{$fontPath}/33F49F_0_0.eot');
  src: url('#{$fontPath}/33F49F_0_0.eot?#iefix') format('embedded-opentype'),
  url('#{$fontPath}/33F49F_0_0.woff2') format('woff2'),
  url('#{$fontPath}/33F49F_0_0.woff') format('woff'),
  url('#{$fontPath}/33F49F_0_0.ttf') format('truetype'),
  url('#{$fontPath}/33F49F_0_0.svg#wf') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'NeuzeitOffice-BoldItalic';
  src: url('#{$fontPath}/33F49F_1_0.eot');
  src: url('#{$fontPath}/33F49F_1_0.eot?#iefix') format('embedded-opentype'),
  url('#{$fontPath}/33F49F_1_0.woff2') format('woff2'),
  url('#{$fontPath}/33F49F_1_0.woff') format('woff'),
  url('#{$fontPath}/33F49F_1_0.ttf') format('truetype'),
  url('#{$fontPath}/33F49F_1_0.svg#wf') format('svg');
  font-weight: 600;
  font-style: italic;
}


/* Global Base Styles */
body {
  font-family: 'NeuzeitOffice-Regular', system;
  font-size: 18px;
  line-height: 1.5;
  color: $black;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'NeuzeitOffice-Bold', serif;
  line-height: 1.333;
}
h1, .display-text { font-size: 4.209rem; }
h2, .header-text  { font-size: 3.157rem; }
h3, .title-text { font-size: 2.369rem; }
h4, .subheader-text { font-size: 1.777rem; }
h5 { font-size: 1.333rem; margin-bottom: 0.2rem; }
h6 { font-size: 1rem; margin-bottom: 0.25rem; }

p {
  font-family: 'NeuzeitOffice-Regular', system;
  margin-bottom: 1rem;
  line-height: 1.333;
}
em {
  font-family: 'NeuzeitOffice-Italic', system;
  font-weight: 300;
  font-style: italic;
}
em.strong {
  font-family: 'NeuzeitOffice-Italic', system;
  font-weight: 600;
  font-style: italic;
}
strong {
  font-family: 'NeuzeitOffice-Bold', system;
  font-weight: 600;
  font-style: normal;
}
em > strong,
strong > em {
  font-family: 'NeuzeitOffice-BoldItalic', system;
  font-weight: 600;
  font-style: italic;
}
ul.list {
  list-style: none;
  margin: 0.5em 0 0.5em 1em;
  li {
    font-size: 1.1rem;
    line-height: 1.333;
    padding-bottom: 0.1rem;
    margin: 0 0 0.33rem 0;
    &::before {
      content: "■";
      font-family: "Arial";
      color: $spring-green;
      padding-right: 0.75rem;
      position: relative;
      top: -0.09em;
    }
  }
}
a {
  font-family: 'NeuzeitOffice-Bold', system;
  color: $spring-green;
  text-decoration: none;
  outline: 0 none;
  transition: color 0.33s ease-out;
  &:hover, &:focus {
    color: lighten($spring-green, 15%);
    transition: color 0.22s ease-in;
  }
  &:active {
    color: darken($spring-green, 10%);
    transition: color 0.1s linear;
  }
}
.caption-text {
  font-family: 'NeuzeitOffice-Regular', system;
  font-size: 0.9rem;
  line-height: 1.43;
  strong {
    font-family: 'NeuzeitOffice-Bold', system;
    font-weight: 600;
    font-style: bold;
  }
}
.small-text {
  font-family: 'NeuzeitOffice-Regular', system;
  font-size: 0.75rem;
  line-height: 1.33;
  strong {
    font-family: 'NeuzeitOffice-Bold', system;
    font-weight: 600;
    font-style: bold;
  }
}
