.page.about {
  .introduction {
    text-align: center;
    padding: 0 2rem 1rem;
    h1 {
      color: $spring-green;
      margin-bottom: 1rem;
    }
  }
  .header-graphic {
    display: block;
    width: 100%;
    padding: 0 8px;
  }
}