.contact {
  .intro {
    h1 {
      @include sr-only;
    }
    h2 {
      color: $spring-green;
    }
  }
}

#contact-form {
  background-color: $white;
  padding: 1rem 0;

  label {
    display: block;
  }
  input {
    display: block;
  }
  .project-type {
    label,
    input {
      display: inline-block;
    }
  }
  textarea {
    display: block;
  }
  input.newsletter,
  label.newsletter {
    display: inline;
  }
  button {
    display: block;
  }
}
