.page.home {
  #splash {
    padding-top: 0;
    padding-bottom: 2rem;
    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5em;
      font-size: 3.5rem;
      line-height: 1.333;
      color: $spring-green;
    }
    p, ul {
      font-size: 1.333rem;
    }
    ul {
      font-weight: 700;
    }
    .cta {
      margin-top: 1.5rem;
    }
  }
  #projects {
    p {
      font-family: 'NeuzeitOffice-Bold', system;
      font-size: 2rem;
      color: $spring-green;
    }
    .cta {
      margin: 1rem 0;
    }
  }
}
