.page.home {

  #splash {
    padding-top: 0;
    h1 {
      font-size: 3.5rem;
      line-height: 1.333;
      color: $spring-green;
    }
    p, ul {
      font-size: 1.333rem;
    }
    .cta {
      margin-top: 0.66rem;
    }
  }
  #works {

  }
}
