.works.page {
  p {
    font-family: 'NeuzeitOffice-Bold', system;
    font-size: 3rem;
    color: $spring-green;
  }
}

#works {
  width: 101%;
  > div {
    padding: 0;
    &:first-child {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .work-object {
    width: 100%;
    display: inline-block;
    position: relative;
    border: 8px solid $white;
    .label {
      position: absolute;
      top: 1em;
      left: 1.5em;
      margin-right: 1.5em;
      h3, span {
        font-size: 1em;
        padding: 0.33em 0;
      }
      span {
        font-family: 'NeuzeitOffice-Regular', system;
      }
    }
  }
  // NOTE : 4px artifact below --aspect-ratio function,
  //        unavoidable magic numbers...
  > div:nth-child(3) .work-object:nth-child(2) {
    top: -31px;
    border-top: 16px solid $white;
  }
  > div:nth-child(4) .work-object {
    margin-top: -38px;
  }
  > div:nth-child(5) .work-object {
    //margin-top: -4px;
  }
}


.work-object {
  overflow: hidden;
  .triangle-left,
  .triangle-right {
    position: absolute;
  }
}

.work-object > a {
  .triangle-left {
    transition: all 0.33s ease-out;
  }
  .triangle-right {
    transition: all 0.33s ease-out;
  }
}

.work-object > a:hover {

  .triangle-left {
    margin-left: -100%;
    transition: all 0.4s linear;
  }
  .triangle-right {
    margin-left: 100%;
    transition: all 0.4s linear;
  }
}
