.works.page {
  h3 {
    font-family: 'NeuzeitOffice-Bold', system;
    // font-size: 3rem;
    // color: $spring-green;
  }
}

#works {
  width: 101%;
  > div {
    padding: 0;
    &:first-child {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .work-object {
    width: 100%;
    display: inline-block;
    position: relative;
    border: 8px solid $white;
    .label {
      position: absolute;
      top: 1em;
      left: 1.5em;
      margin-right: 1.5em;
      h3, span {
        font-size: 1em;
        padding: 0.33em 0;
      }
      span {
        font-family: 'NeuzeitOffice-Regular', system;
      }
    }
  }
  // NOTE : 4px artifact below --aspect-ratio function,
  //        unavoidable magic numbers...
  > div:nth-child(3) .work-object:nth-child(2) {
    top: -31px;
    border-top: 16px solid $white;
  }
  > div:nth-child(4) .work-object {
    margin-top: -38px;
  }
}

// Animated cover
.work-object {
  overflow: hidden;
  > a {
    .cover-triangle-left {
      position: absolute;
      margin-left: -100%;
      border-style: solid;
      border-color: transparent transparent transparent $spring-green;
      transition: all 0.33s ease-out;
    }
    .cover-triangle-right {
      position: absolute;
      margin-left: 100%;
      border-style: solid;
      border-color: transparent $spring-green transparent transparent;
      transition: all 0.33s ease-out;
    }
    .cover-fullsize {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $spring-green;
      opacity: 0;
      transition: all 0.33s ease-out;
    }
    .cover-cta {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      opacity: 0;
      span {
        display: inline-block;
        flex: 0 0 auto;
        padding: 0.75rem 1.5rem 0.85rem;
        font-size: 1.5rem;
        color: white;
        border: 2px solid white;
      }
    }
    &:hover {
      .cover-triangle-left {
        margin-left: 0;
        transition: all 0.4s linear;
      }
      .cover-triangle-right {
        margin-left: 0;
        transition: all 0.4s linear;
      }
      .cover-fullsize {
        opacity: 1;
        transition: all 0.6s ease-in;
      }
      .cover-cta {
        opacity: 1;
        transition: all 0.44s ease-in;
        transition-delay: 0.2s;
      }
    }
  }
}


// PAGE : Work Project 
.project {
  h2 {
    color: $spring-green;
    margin-bottom: 2rem;
  }
  h3 {
    color: $spring-green;
    text-transform: uppercase;
    margin: 5rem 0 1.5rem 0;
  }
  .introduction {
    font-size: 2rem;
    line-height: 1.5;
  }
  p {
    font-size: 1.5rem;
  }
  
  .img-container {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    height: auto;
    margin: 2rem auto 2.5rem;
    box-shadow: 0 4px 8px 0 rgba(32, 33, 36, 0.24);
    .caption {
      display: inline-block;
      padding: 0.5rem 1.2rem 0.66rem 1rem;
      font-family: 'NeuzeitOffice-Bold', system;
      line-height: 1.1;
      background: $black;
      color: $white;
    }
    // Screen-reader alt text
    p {
      @include sr-only;
    }  
  }
}
